@font-face {
  font-family: "shapiro-bold";
  src: url(../fonts/Shapiro-Bold.woff2) format("woff2"),
    url(../fonts/Shapiro-Bold.woff) format("woff"),
    url(../fonts/Shapiro-Bold.ttf) format("tff");
  font-weight: normal;
  font-style: normal;

  font-family: "shapiro-regular";
  src: url(../fonts/Shapiro-Regular.woff2) format("woff2"),
    url(../fonts/Shapiro-Regular.woff) format("woff"),
    url(../fonts/Shapiro-Regular.ttf) format("tff");
  font-weight: normal;
  font-style: normal;
}

$blue: #633cff;
$pink: #ffc3a4;
$bg: #16152b;
$main-font: "shapiro-regular";
$main-bold-font: "shapiro-bold";

body {
  background-color: $bg;
  margin: 0 auto;
}

.header {
  width: 100vw;
}

.progressbar-flex {
  display: flex;
  justify-content: center;
  margin-top: -5vh;
}

.step {
  width: 30vw;
  height: auto;
}

.title {
  font-family: $main-bold-font;
  color: white;
  font-size: 1rem;
  margin-left: 9vw;
  margin-top: 8vh;
  margin-bottom: 3vh;
}

// .chooser-wrap {
//   display: flex;
//   justify-content: space-around;
//   flex-wrap: wrap;
// }

.chooser-wrap {
  display: flex;
  gap: 17vw;
  flex-wrap: wrap;
  margin-left: 9vw;
}

.margin {
  margin-top: 6vh;
}

.icon {
  height: 45px;
  width: auto;
}

.choose-box {
  min-width: 200px;
  max-width: 250px;
  width: 16vw;
  height: 15vh;
  background-color: $pink;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  cursor: pointer;
}

.game-type {
  font-family: $main-bold-font;
  font-size: 1.5rem;
  color: $blue;
  margin: 0;
  text-align: center;
  line-height: 1;
}

.active {
  outline: 10px solid $blue;
}

.next-button {
  width: 120px;
  height: 40px;
  border-radius: 100px;
  background-color: $blue;
  color: white;
  border: none;
  cursor: pointer;
  margin-left: 9vw;
  margin-top: 5vh;
  margin-bottom: 10vh;
}
