@use "./styles/base";

* {
  font-family: base.$main-font;
}

body {
  background-color: base.$bg;
  margin: 0 auto;
}

.header {
  width: 100vw;
}

.progressbar-flex {
  display: flex;
  justify-content: center;
  margin-top: -5vh;
}

.step {
  width: 30vw;
  height: auto;
}

.title {
  // font-family: $main-bold-font;
  color: white;
  font-size: 1rem;
  margin-left: 9vw;
  margin-top: 8vh;
  margin-bottom: 3vh;
  max-width: 400px;
}

input {
  background-color: #dfdfe1;
  border: none;
  border-radius: 5px;
  width: 30vw;
  height: 3.5vh;
  min-width: 400px;
  min-height: 30px;
  margin-left: 9vw;
}

input:valid {
  border: 2px solid #4dbe57;
}

input:invalid {
  border: 2px solid #dc8174;
}

input:placeholder-shown {
  border: 2px solid #999999;
}

input:focus {
  border: 2px solid #808080;
}

label {
  margin-left: 9vw;
  color: white;
  font-family: base.$main-font;
}

.label-wrap {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.label-parent {
  gap: 9vh;
  display: flex;
  flex-direction: column;
}

.star {
  color: #b51212;
}

.hint {
  width: 30vw;
  margin-left: 9vw;
  font-size: 14px;
  color: #dc8174;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}

input:invalid + .hint:not(input:placeholder-shown + .hint) {
  visibility: visible;
  opacity: 1;
}

.form4-pic {
  width: 40vw;
  height: auto;
  margin-top: 7vh;
}

.wrap {
  display: flex;
  flex-direction: row;
  gap: 8vw;
}

button {
  width: 120px;
  height: 40px;
  border-radius: 100px;
  background-color: base.$blue;
  color: white;
  border: none;
  cursor: pointer;
  margin-left: 9vw;
  margin-top: 8vh;
}

.big-thankyou {
  // font-family: $main-bold-font;
  color: white;
  font-size: 3rem;
  margin-bottom: 10px;
}

.small-thankyou {
  font-family: base.$main-font;
  color: white;
  font-size: 1.1rem;
  margin-top: 0;
  width: 60vw;
  text-align: center;
  margin-bottom: 50px;
}

.form5-pic {
  height: 40vh;
  width: auto;
}

.thankyou-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
